name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run tests
        run: ./test.sh

      - name: Build image
        run: docker build -t day3-app .

      - name: Deploy
        run: docker run --rm day3-app

