name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run tests
        run: | 
          cd day-3-cicd 
          ./test.sh

      - name: Build image
        run: |
          cd day-3-cicd
          docker build -t day3-app .

      - name: Deploy
        run: |
          cd day-3-cicd
          docker run --rm day3-app

